@import "tailwindcss";

:root {
  --background: #18181b;
  /* zinc-900 for dark theme by default */
  --foreground: #fafafa;
  /* off-white text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}